[Unit]
Description=Ananya Go Backend Service
After=network.target postgresql.service

[Service]
Type=simple
User=tayap
WorkingDirectory=/home/tayap
ExecStart=/home/tayap/ananya-go
Restart=always
Environment=DB_USER=tayap
Environment=DB_PASS=IntelliP24.X
Environment=DB_NAME=tayap
Environment=DB_HOST=localhost
Environment=DB_PORT=5432
Environment=GIN_MODE=release

[Install]
WantedBy=multi-user.target
